.con-class{
  width: 100%;
  /*for brief , you should not add container class */
}

/* Dark Mode Styles */
.accordion-body {
  background-color: #343a40; /* Adjust the background color as per your design */
  color: #fff; /* Text color for the accordion body */
}

.carousel-container {
  margin: 0;
  padding: 0;
}

.carousel-inner {
  width: 100%;
}